{% extends 'base/main.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, officia distinctio commodi quibusdam dolorem sed suscipit blanditiis repellat, provident facere nisi laudantium molestias tempora culpa soluta, consectetur ut saepe ipsum!</p>
        </div>
        <div class="col-lg-4 col-md-10 col-sm-4 col-xs-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, officia distinctio commodi quibusdam dolorem sed suscipit blanditiis repellat, provident facere nisi laudantium molestias tempora culpa soluta, consectetur ut saepe ipsum!</p>
              </div>

    </div>

</div>

{% for categorie in categories %}
<div class=" mt-4 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-2">
                <div class="section-title">
                    <h2>{{categorie.nom}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for produit in produits %}
            {% if produit.categorie.nom == categorie.nom %}
            <div class=" col-lg-4 col-12">
                
                    
                    <div class="single-product">
                        <div class="product-img">
                            <a href="{% url 'detail' produit.id %}">
                                <img class="default-img" src="{{ produit.image.url }}" width="200"  height="100" alt="#">
                                <img class="hover-img" src="{{ produit.image.url }}" width="200"  height="100" alt="#">
                                
                            </a>
                            
                        </div>
                 
                        <div class="product-content">
                            <h3><a href="{% url 'detail' produit.id %}" style="font-size: 20px;">{{produit.nom}}</a></h3>
                            <div class="product-price" >
                                
                                <span style="font-size: 20px;">{{produit.prix_achat}} Fcfa</span><br>
                                <span class="mt-4" style="font-size: 20px; font: weight 10px; color: rgb(15, 65, 104);">Stock: {{produit.stock}}</span>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-price">
                                <span>{{produit.description}} </span>
                            </div>
                        </div>
                        <a data-product="{{produit.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart mt-4"  ><i class="fa fa-plus" style="color:aliceblue; margin-right: 5px;"></i><span style="color: aliceblue;">Ajouter</span></a>
                               
                    </div>
                   
                 
               
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

<!--/ End Single Widget -->
{% endblock %}