{% extends 'base/main.html' %}
{% block content %}
<section id="contact-us" class="contact-us section">
    <div class="container">
            <div class="contact-head">
                
                <div class="row mb-4 ">
                    <a href="{% url 'tester' %}">
                    <div class="col-lg-6 col-12">
                        <div class="form-main">
                        <p style="font-size: 25px">Passer à la caisse</p>
                        </div>
                        </a>
                    </div>
                    <a href="{% url 'commande' %} ">
                    <div class="col-lg-6 col-12">
                        <div class="form-main">
                        <p style="font-size: 25px">Imprimer le reçu</p>
                        </div>
                        </a>
                    </div>
                </div>         
            </div>
    </div>


</section>
{% endblock %}